.filled {
    fill: var(--drawing-outline-color);
}

.outlined:not(.filled, .pressed) {
    fill: var(--drawing-fill-color);
}

.outlined {
    stroke: var(--drawing-outline-color);
    stroke-width: calc(0.264583px * var(--drawing-scale-factor, 1));
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-dasharray: none;
    stroke-opacity: 1;
    fill-opacity: 1;
}

.empty {
    fill: none;
    fill-opacity: 1;
}

.pressed {
    fill: var(--pressed-fill-color);
    fill-opacity: 1;
}
