.filled {
    fill: var(--drawing-outline-color);
}

.outlined:not(.filled) {
    fill: var(--drawing-fill-color);
}

.outlined {
    stroke: var(--drawing-outline-color);
    stroke-width: 0.264583px;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-dasharray: none;
    stroke-opacity: 1;
    fill-opacity: 1;
}

.joystick {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 1 1 50%;
}

.joystickDisplay {
    width: calc(100% - 2em);
    margin: 1em;
}

.analyzer {
    display: flex;
    flex-wrap: wrap;
}