.appWrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.gamepadDisplay {
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    max-width: 140mm;
    padding: 1.5rem;
}
