.analyzer {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

.trigger {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 1 1 40%;
}

.triggerHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1em;
}